.new-tweet {
  margin-bottom: 20px;
}

.new-tweet label {
  width: 100%;
}

.new-tweet textarea {
  border-bottom: solid thick black;
  width: 100%;
  background: inherit;
  border-left: none;
  border-right: none;
  border-top: none;
  clear: both;
}

.new-tweet textarea:focus {
  outline: none;
  font-size: medium;
}

.new-tweet output {
  float: right;
}

.new-tweet form div {
  font-family: 'Bungee', sans-serif;
  padding-top: 5px;
}

.new-tweet form div button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.new-tweet .validation-error {
  display: none;
  margin-bottom: 1em;
  border: 3px solid red;
  padding: 1.5em;
  background-color: #F99;
}