#tweets .tweet {
  border: 3px #545149 solid;
  margin: 0 5% 2em 5%;
  padding: 10px;
  overflow: auto;
}

#tweets .tweet:hover {
  -webkit-box-shadow: 10px 10px 0px 0px #c4cae3;
  -moz-box-shadow: 10px 10px 0px 0px #c4cae3;
  box-shadow: 10px 10px 0px 0px #c4cae3;
  color: black;
}

#tweets .tweet .handle {
  display: none;
  float: right;
  color: #4056A1;
}

#tweets .tweet:hover .handle {
  display: block;
}

#tweets .tweet:hover .flags {
  display: block;
}

#tweets .tweet .body {
  margin: 2em 15px;
  font-weight: 700;
}

#tweets header {
  height: 40px;
}

#tweets header img {
  float: left;
}

#tweets header .name {
  float: left;
  margin-top: 20px;
  margin-left: 5px;
}

#tweets footer {
  padding: 10px;
  border-top: 3px #545149 solid;
  font-size: 0.8em;
}

#tweets footer .timestamp {
  float: left;
}

#tweets footer .flags {
  float: right;
  color: #4056A1;
}

#tweets footer .flags span {
  margin-left: 15px;
}